.navbar{
  margin-bottom: 0px;
}

.glyphicon-camera{
  color: black;
  font-size: 150%;
  margin-left: 10px;
}

.header{
  background-image: url(./images/bg2.jpg);
  background-size: cover;
  color:white;
  height: 300px;
  text-align: center;
}

.col-md-4{
  padding-top:20px;
  margin-top:10px
}

.thumbnail{
  text-align: center;
  border: 10px solid #ccc;
  border-radius: 15px;
  padding: 0px
}

.thumbnail img{
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.description{
  padding: 30px;
}

.panel-default{
  margin-bottom: 0px;
}

.panel-body{
  text-align: center;
  font-size: 200%
}

.panel-footer{
  text-align: center;
  font-size: 1.2rem
}
